<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>EventProcess</servlet-name>
        <servlet-class>Controllers.EventControllers.EventProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveEvent</servlet-name>
        <servlet-class>Controllers.AppointmentControllers.SaveAppointments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindEvents</servlet-name>
        <servlet-class>Controllers.AppointmentControllers.FindAppointments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindPackages</servlet-name>
        <servlet-class>Controllers.PackageControllers.FindPackages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEvents</servlet-name>
        <servlet-class>Controllers.EventControllers.SearchEvents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreAppointments</servlet-name>
        <servlet-class>Controllers.AppointmentControllers.StoreAppointments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchAppointments</servlet-name>
        <servlet-class>Controllers.AppointmentControllers.FetchAppointments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginService</servlet-name>
        <servlet-class>Controllers.AuthControllers.LoginService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controllers.LoginControllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAppointments</servlet-name>
        <servlet-class>Controllers.AppointmentControllers.DeleteAppointments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAppointments</servlet-name>
        <servlet-class>Controllers.AppointmentControllers.UpdateAppointments</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventProcess</servlet-name>
        <url-pattern>/EventProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveEvent</servlet-name>
        <url-pattern>/SaveEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindEvents</servlet-name>
        <url-pattern>/FindEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindPackages</servlet-name>
        <url-pattern>/FindPackages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEvents</servlet-name>
        <url-pattern>/SearchEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreAppointments</servlet-name>
        <url-pattern>/StoreAppointments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchAppointments</servlet-name>
        <url-pattern>/FetchAppointments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginService</servlet-name>
        <url-pattern>/LoginService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAppointments</servlet-name>
        <url-pattern>/DeleteAppointments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAppointments</servlet-name>
        <url-pattern>/UpdateAppointments</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
